@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

@font-face {
	font-family: "Delight";
	src: url("/fonts/delight-thin.otf") format("opentype");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Delight";
	src: url("/fonts/delight-regular.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Delight";
	src: url("/fonts/delight-bold.otf") format("opentype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Delight";
	src: url("/fonts/delight-black.otf") format("opentype");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

.font-delight {
	font-family: "Delight", sans-serif;
}

@plugin "daisyui/theme" {
	name: "dark";
	default: true;
	prefersdark: true;
	color-scheme: "dark";
	--color-base-100: oklch(96% 0.059 95.617);
	--color-base-200: oklch(92% 0.12 95.746);
	--color-base-300: oklch(76% 0.188 70.08);
	--color-base-content: oklch(37% 0.146 265.522);
	--color-primary: oklch(37% 0.146 265.522);
	--color-primary-content: oklch(96% 0.018 272.314);
	--color-secondary: oklch(54% 0.245 262.881);
	--color-secondary-content: oklch(94% 0.028 342.258);
	--color-accent: oklch(63% 0.237 25.331);
	--color-accent-content: oklch(38% 0.063 188.416);
	--color-neutral: oklch(14% 0.005 285.823);
	--color-neutral-content: oklch(92% 0.004 286.32);
	--color-info: oklch(70% 0.213 47.604);
	--color-info-content: oklch(29% 0.066 243.157);
	--color-success: oklch(76% 0.177 163.223);
	--color-success-content: oklch(37% 0.077 168.94);
	--color-warning: oklch(79% 0.184 86.047);
	--color-warning-content: oklch(41% 0.112 45.904);
	--color-error: oklch(71% 0.194 13.428);
	--color-error-content: oklch(27% 0.105 12.094);
	--radius-selector: 2rem;
	--radius-field: 2rem;
	--radius-box: 2rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}
