@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

@font-face {
	font-family: "Delight";
	src: url("/fonts/delight-thin.otf") format("opentype");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Delight";
	src: url("/fonts/delight-regular.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Delight";
	src: url("/fonts/delight-bold.otf") format("opentype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Delight";
	src: url("/fonts/delight-black.otf") format("opentype");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

.font-delight {
	font-family: "Delight", sans-serif;
}

@plugin "daisyui/theme" {
	name: "dark";
	default: true;
	prefersdark: true;
	color-scheme: "dark";
	--color-base-100: var(--color-orange-50);
	--color-base-200: var(--color-orange-100);
	--color-base-300: var(--color-orange-200);
	--color-base-content: var(--color-orange-950);
	--color-primary: var(--color-orange-300);
	--color-primary-content: var(--color-orange-950);
	--color-secondary: var(--color-yellow-800);
	--color-secondary-content: var(--color-zinc-50);
	--color-accent: var(--color-yellow-500);
	--color-accent-content: var(--color-zinc-50);
	--color-neutral: var(--color-orange-950);
	--color-neutral-content: var(--color-zinc-50);
	--color-info: var(--color-blue-500);
	--color-info-content: var(--color-zinc-50);
	--color-success: var(--color-green-500);
	--color-success-content: var(--color-zinc-50);
	--color-warning: var(--color-yellow-500);
	--color-warning-content: var(--color-zinc-50);
	--color-error: var(--color-red-500);
	--color-error-content: var(--color-zinc-50);
	--radius-selector: 2rem;
	--radius-field: 2rem;
	--radius-box: 2rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}

@layer base {
	*::selection {
		background-color: var(--color-secondary);
		color: #fff;
	}
}
