DATABASE_URI=
DATABASE_NAME=boilerplate
PAYLOAD_SECRET=vDATiLcfiP/YD/DH4z2KcqhNTjZxRZfsIe1HOUPIK38=

S3_ENDPOINT=https://minio-s3.eliaszanotti.com
S3_REGION=us-east-1
S3_ACCESS_KEY
S3_SECRET_KEY=
S3_BUCKET=